.input {
    --padding: 30px
  width: max-content;
  height: 38px;
  display: flex;
  align-items: center;
  padding: var(--padding);
  /* border-radius: 28px; */
  background: #ffffff;
  transition: box-shadow 0.25s;
  border: 1px solid #1B4965;
  border-color: #1B4965;
  padding-left: 10px;
}

.sampul{
  border: 1px solid #1B4965;
  border-color: #1B4965;
}



.form-input {
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    color: #333333;
    margin-left: 30px;
    outline: none;
    border: none;
    background: transparent;
    width: 300px;
    flex: 1;
}

label {
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    color: #1B4965;
    margin-top: 10px;
    margin-bottom: 10px;
  }

.btn{
  background-color: #1B4965;
  color: #ffffff;
}

.table{
  
  margin-left: auto;
  margin-right: auto;
 
}

